.main-div{
    margin-left: 5vmin;
    margin-right: 5vmin;
    margin-top: 2vmin;
    text-align: justify;
}
.divider{
    border-color: red;
}
h1{
    text-align: center;
}
img{
    width: 20%;
    margin: 2%;
    min-width: 200px;
}
#img1{
    border: 5px solid rgb(227, 7, 7);
}
#img2{
    border: 5px solid rgb(54, 182, 22);
}
#img3{
    border: 5px solid rgb(73, 11, 197);
}
.left{ 
    float:left; 
}
.right{
    float: right;
}

.inline{
    display: inline;
}

.clear-right{
    clear: right;
}
.clear-left{
    clear: left;
}