@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    position: sticky;
    top: 0px;
    left: 100px;
    background-color: white;
    z-index: 1;
    width: 100%;
    box-shadow: 3px 3px 10px grey;
}

#hampburger-icon {
    display: none;
}

body:has(#hampburger-icon:hover) #option-div {
    display: flex;
}

.logo {
    min-width: max-content;
    color: #1E3A8A;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.option-div {
    justify-content: space-around;
    display: flex;
    width: 50%;
}


.option {
    color: #475569;
    margin: 0px 5px;
    line-height: 24px;
    font-size: 16px;
}

.option:hover {
    color: #226ed8;
    text-decoration: underline;
    scale: 1.5;
}

.header-button {
    background-color: #00478D;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.header-button:hover {
    background-color: #0a917f;
    box-shadow: 3px 3px 5px black;
    scale: 1.1;
}

.landing-div-background {
    background-image: url(./assets/background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.landing-div {
    /* background-color: #00478d; */
    background: linear-gradient(to bottom right, rgba(0, 71, 141, 0.8) 0%, rgba(0, 94, 184, 0.8) 100%);
    width: 100%;
    position: relative;
    display: grid;
    row-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info-div info-img-div" "mini-service-div mini-service-div";
    padding: 5% 10%;
}

.info-div {
    /* padding-left: 10%; */
    grid-area: info-div;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: start;
    justify-content: center;
    margin: 0px auto;
}

.info-div span {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.date-div {
    display: flex;
    margin: 10px;
    justify-content: left;
}

#moto {
    line-height: 72px;
    font-size: 72px;
    color: white;
    font-weight: bold;
}

.icon {
    height: 20px;
    width: 18px;
}

.button-box {
    padding: 17.5px 32px;
    border-radius: 8px;
    text-align: center;
}

.button-box:hover {
    /* background-color: #0a917f; */
    box-shadow: 3px 3px 5px black;
    scale: 1.1;
}

.icon-box {
    padding: 14px 16px;
    border-radius: 12px;
    width: max-content;
}

.info-img-div {
    grid-area: info-img-div;
    /* height: 100%; */
    /* background-color: #90F4B7; */
    display: flex;
    margin: auto;
}

.info-img-div img {
    margin: auto;
    height: 60vmin;
    width: 60vmin;
    transform: rotate(3deg);
    border-radius: 20px;
}

.info-img-box {
    margin: auto;
    /* background-color: #00478D; */
    /* height: min-content; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card-count {
    border-radius: 16px;
    position: absolute;
    bottom: 10%;
    left: -10%;
    padding: 33px;
    max-width: 50%;
    text-align: center;
    background-color: aliceblue;
    transform: rotate(-3deg);
}

.count {
    color: #00478D;
    font-size: 48px;
    font-weight: 1000;
    line-height: 48px;
    margin-bottom: 5px;
}

.count-info {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.mini-service-div {
    margin-bottom: 5%;
    /* margin: 5% 5% 0% 5%; */
    grid-area: mini-service-div;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 24px;
    height: fit-content;
    justify-content: space-around;
}

.mini-service-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.section-div {
    padding: 5% 10%;
}

.section-heading {
    margin-bottom: 16px;
    color: #071E27;
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
}

.info {
    color: #424752;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.service-grid {
    margin-top: 48px;
    width: 100%;
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "service-1 service-1 service-2 service-3" "service-4 service-5 service-6 service-6";
    /* grid-template-rows: auto; */

}

.service-card {
    padding: 40px;
    border-radius: 24px;
    width: 100%;
    /* width: 300px; */
}

.card-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 12px;
    margin-top: 24px;
}

#service-1 {
    grid-area: service-1;
}

#service-2 {
    grid-area: service-2;
}

#service-3 {
    grid-area: service-3;
}

#service-4 {
    grid-area: service-4;
}

#service-5 {
    grid-area: service-5;
}

#service-6 {
    grid-area: service-6;
}

.expert-div {
    display: flex;
    margin-top: 50px;
    gap: 2.5%;
}

.expert-card {
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 32px;
}

.expert-info {
    padding: 36px;
}

.expert-title {
    font-size: 12px;
    line-height: 16px;
    color: #004F5A;
}

.expert-card img {
    border-radius: 32px;
    width: 50%;
    height: 100%;
}

.feature-grid {
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.feature-card {
    background-color: #F3FAFF;
    padding: 32px;
    border-radius: 16px;
}

.feature-icon {
    height: 33px;
    width: 30px;
}

.form-grid {
    border-radius: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    overflow: hidden;
}

.form-grid img {
    width: 100%;
    height: 100%;
}

.form-data-div {
    background-color: #01478d;
    padding: 5%;
    align-content: center;
}

.form-heading {
    font-size: 36px;
    font-weight: 800;
    color: white;
}

.form-info {
    margin-top: 16px;
    font-size: 18px;
    line-height: 28px;
    color: #C8DAFF;
}

.form-label {
    margin-top: 40px;
    font-size: 14px;
    color: white;
    line-height: 20px;
}

input {
    border: 0.5px solid rgb(57, 95, 160);
    background-color: #195998;
    border-radius: 8px;
    padding: 14px 16px;
    width: 100%;
    margin-top: 8px;
    color: white;
    font-size: medium;
}

.input-row {
    gap: 10px;
    margin-bottom: 40px;
}


.color-green {
    background-color: #90F4B7;
}

.color-blue-1 {
    background-color: #E6F6FF;
}

.color-blue-2 {
    background-color: #005EB8;
}

.color-blue-3 {
    background-color: #cfe6f2;
}

.color-blue-4 {
    background-color: #006976;
}

.color-blue-5 {
    background-color: #00478D;
}

.color-green-2 {
    background-color: #e6f0f2;
}

.color-green-3 {
    background-color: #006D41;
}

.flex {
    display: flex;
}

.border-white {
    border: 1px solid rgb(183, 183, 183);
}

.l-m-25 {
    margin-left: 20px;
}


@media(max-width:60em) {
    .service-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "service-1 service-1 service-2" "service-3 service-4 service-4" "service-5 service-5 service-6";
    }
     .feature-grid {
        grid-template-columns: 1fr 1fr;
    }
    .expert-div {
        flex-wrap: wrap;
        gap: 10px;
    }
    .landing-div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .info-card-count {
        position: relative;
        transform: none;
        bottom: 0%;
        left: 0%;
        max-width: 100%;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }

    .info-img-div img {
        transform: none;
        width: 100%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
}

@media(max-width:42em) {
    
    .mini-service-div {
        flex-wrap: wrap;
    }

    .header-button-div {
        display: none;
    }

    .service-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "service-1" "service-2" "service-3" "service-4" "service-5" "service-6";
    }

    .expert-card {
        flex-wrap: wrap;
    }

    .expert-card img {
        border-radius: 32px;
        width: 100%;
        height: 50%;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    .form-grid {
        grid-template-columns: 1fr;
        border-radius: 25px;
    }

    

    .option-div {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: white;
        width: max-content;
        padding: 20px 20px;
        border-radius: 10px;
        gap: 15px;
        background-color: #E6F6FF;
        box-shadow: 5px 5px 15px gray;
    }

    .option {
        margin: 0px;
        width: 100%;
        border-bottom: 1px solid black;
    }

    #hampburger-icon {
        display: inline;
        margin-right: 20px;
    }

    .header {
        justify-content: left;
    }

    .header-button {
        display: none;
    }
}

