.input-div , .field-div{
    display: flex;
}


.section-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left  ;
}
td,th{
    word-break: break-word;
}
td{
    padding:10px;
}
table{
    max-width: 400px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

*{
    padding: 0%;
    margin: 0%;
}

fieldset{
    margin: 3%;
}

.form{
    max-width: 1400px;
    margin: auto;
}

@media (max-width:480px) {
    .q-table input,select{
     width:  100%; 
}
}


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header{
    justify-self: center;
}