#main-board{
    display: flex;
    justify-self: center;
    border: 1vmin solid black;
    padding: 0.5vmin;
}
#main-board div div{
    height: 11vmin;
    width:11vmin;
}

#main-board div:nth-child(odd) div:nth-child(odd),#main-board div:nth-child(even) div:nth-child(even){
    background-color: black;
}
