.header{
    justify-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
*{
    text-align: center;
    padding: 0%;
    margin: 0%; 
}

table{
    table-layout: fixed;
    justify-self: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    min-width: 80%;
}

p{
    overflow: hidden;
    display:inline-block;
    font-size: 100%;
}

th,td{
    border: 1px solid black;
}