*{
    padding: 0%;
    margin: 0%;
}
.main_page{ 
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
}
.header{
    justify-self: center;
    text-decoration: underline;
}
.sub-header{
    margin-top: 1%;
    margin-bottom: 1%;
}
.question-div{
    margin-top: 1%;
}
.question{
    margin-bottom: 1%;
}
.remark-div{
    justify-self: center;
    display: flex;
    margin-bottom: 1%;
}
.overline{
    text-decoration: overline;
}