.main-container {
    height: 200vh;
    width: 90%;
    background-color: antiquewhite;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

.content-box {
    height: 20vmin;
    width: 20vmin;
    align-content: center;
}

div {
    text-align: center;
}

#div-relative {
    position: relative;
    left: 80%;
    top: 30%;
    background-color: aqua;
    /* z-index: 1; */
}

#div-absolute {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: blue;
}

#div-fixed {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: yellow;
}

#div-sticky {
    position: sticky;
    left: 0px;    
    top: 10%;
    background-color: violet;
}